# Base de datos PostgreSQL
DATABASE_URL="postgresql://zenmind:zenmind@localhost:5432/zenmind?schema=public"

# Puerto de la API
PORT=3000

# Prefijo global de la API
API_PREFIX=api

# JWT
JWT_ACCESS_SECRET="cambia-esto-en-produccion-access"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="cambia-esto-en-produccion-refresh"
JWT_REFRESH_EXPIRES_IN="30d"

# Entorno
NODE_ENV=development
