# Dependencies
node_modules/

# Build
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
*.iml

# Prisma
prisma/*.db

# Misc
coverage/
.tmp/
